.layout{
  display: block;
  height: 100vh;
}
.layout-body{
  display: flex;
  height: calc(100vh - 70px);
}
.sidebar{
  flex: 0 0 15%;
  max-width: 15%;
  background-color: #FFFFFF;
  box-shadow:  3px 0px 6px#00000029;
  overflow-y: auto;
}
.content{
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}
