.header-style{
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
}
.header-title{
  font-family: 'OpenSans-Regular';
  color: #F3820E;
  font-size: 20px;
  margin: 0;
}
.header-text{
  font-family: 'OpenSans-Regular';
  font-size: 15px;
  color: #000000;
  padding-left: 10px;
  margin: 0;
}
.imgStyle{
  height: 45px;
}