.login-page{
  height: 90vh;
  background-color:  #f5f7fa;;
}
.login-card{
  max-width: 560px;
  width: 60%;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.login-title{
  font-size: 20px;
  font-family: 'OpenSans-Regular';
  color: #000000;
  text-align: center;
}
input{
  width:100%;
  padding:12px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #FFFFFF !important;
  font-size: 15px;
  font-family: 'OpenSans-Regular';
  color: #000000;
  box-sizing: border-box; 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.position-wrapper{
  position: relative;
  padding-right: 10px;
}
.toggle-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.login-btn{
  padding: 12px;
  font-size: 20px;
  font-family: 'OpenSans-SemiBold';
  border-radius: 4px;
  background-color: #E9511C;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  width: 30%;
}
.login-btn:disabled {
  background-color: #b0b0b0;
  color: #000000;
  cursor: not-allowed;
  opacity: 0.7;
}
.errMsg{
  font-size: 13px;
  font-family: 'OpenSans-Regular';
  color: #B00020;
  padding-left: 5px;
  padding-top: 2px;
}
