.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-10{
  margin-right: 10px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.h90vh{
  height: 90vh;
}
.w30{
  width: 30%;
}
.w35{
  width: 35%;
}
.d-flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.dis-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-center{
  display: flex;
  justify-content: center;
}
.vertical-center{
  display: flex;
  align-items: center;
}