.mat-input-style{
  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: #F2F2F2;
  }
  .mat-mdc-text-field-wrapper {
    background-color: #F2F2F2;
  }
  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-width: 0.4px;
    border-bottom-color: #9D9D9D;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    border-bottom-width: 0.4px;
    border-bottom-color: #9D9D9D;
  }
  .mdc-text-field {
    //padding-left: 0;
    font-size: 16px;
    color: #858585;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #FFFFFF;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 8px;
  }
  .mat-mdc-form-field-error-wrapper {
    padding: 0px 0px 0px;
    font-size: 12px;
  }
}
.mat-height40 {
  .mat-mdc-text-field-wrapper {
    height: 40px;
  }
  .mat-mdc-form-field-flex {
    height: 40px;
  }
}
.mat-mdc-form-field .mdc-line-ripple::before,
.mat-mdc-form-field .mdc-line-ripple::after{
  border-bottom-style: none;
}