.user-layout{
  background-color: #FFFFFF;
  padding: 10px;
}
.user-header{
  display: flex;
  justify-content: space-between;
}
.addBtn{
  outline: none;
  border: 1px solid #E9511C;
  background-color: #E9511C;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'OpenSans-Regular';
  padding: 10px 15px;
  cursor: pointer;
}